<script src="/public/js/bootstrap.js"></script>
<!-- HTML for the overview of each book in a user's library -->

<head>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>

    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button id="close-modal-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#each BookData}}
                Are you sure you want to delete <strong>{{title}}</strong>?
                This cannot be undone!
                {{/each}}
            </div>
            <div class="modal-footer">
                <button id="close-modal" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                {{#each BookData}}
                <a id="confirm-modal" class="btn btn-danger btn-sm" href="/deletebook?id={{_id}}">Delete book</a>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{#each flash}}
<div class="alert alert-danger" style="text-align:center">
    <strong>{{this}}</strong>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
{{/each}}
<div class="container py-5 h-40">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card shadow card-registration" style="border-radius: 15px;">
                <div class="card-body" style="flex-direction: row">

                    {{#each BookData}}
                    <div class="card-body" style="flex-direction: row">
                        <section class="card-body">
                            <p align='left'><a id="back-to-dashboard" href="/dashboard"><i class="fa-solid fa-arrow-left fa-1x">Back</i></a>
                            </p>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <img src="/public/uploads/{{filename}}" class="shadow img-fluid rounded">
                                    </div>
                                </div>
                                <div class="col">
                                    <h2>{{title}}</h2>
                                    <p><em>by {{author}}</em></p>
                                    <p>Genre: {{genre}}</p>
                                    <p>{{description}}</p>
                                    <a id="edit-book" class="btn btn-primary btn-sm " href="/editbook?id={{_id}}">Edit book</a>
                                    <button id="delete-book" type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Delete Book
                                    </button>
                                    <br><br>
                                    <p id="add-to-wish">
                                    </p>
                                    <script>
                                        var container = document.getElementById("add-to-wish")
                                        var wishlist = "{{{ this.in_wishlist }}}"
                                        var bookID = "{{{this._id}}}"
                                        if (wishlist === "No") {
                                            container.innerHTML = `<form method='post' action='/addtowishlist'> 
                                            <input type = 'hidden' id = 'bookId' name = 'bookId' value = '${bookID}'>
                                            <button id='add-to-wishlist' type='submit' class='btn btn-light btn-sm' style='background-color:#4CAF50;border:none;color:white'>
                                                Add to wishlist</button></form>`
                                        }
                                        if (wishlist === "Yes") {
                                            container.innerHTML = `<form method='post' action='/removefromwishlist'> 
                                            <input type = 'hidden' id = 'bookId' name = 'bookId' value = '${bookID}'>
                                            <button id='remove-from-wishlist' type='submit' class='btn btn-success btn-sm' style='background-color:#4CAF50;border:none;color:white'> 
                                                Remove from wishlist</button></form>`
                                        }
                                    </script>

                                </div>
                            </div>
                        </section>
                    </div>
                    {{/each}}

                    <!-- Note adding -->
                    <div class="p-5 text-center">
                        <h2 align="center"> Add some notes 📝</h2>
                        <h4>Enter notes of your reading regularly!</h4>
                        <br>
                        <textarea name="header" id="header" rows="1" cols="50" form="formcomments"
                            placeholder="Enter a header for your note!"></textarea>
                        <textarea id="comments" name="comments" rows="8" cols="50" maxlength="2000" form="formcomments"
                            placeholder="Enter a creative note!"></textarea>
                        <form action="/post-comment" id="formcomments" name="formcomments" method="post">
                            {{#each UserData}}
                            <input type="hidden" id="made_by_user" name="made_by_user" value="{{username}}">
                            {{/each}}
                            <div class="row">
                                {{#each BookData}}
                                <input type="hidden" id="bookId" name="bookId" value="{{_id}}">
                                {{/each}}
                            </div>
                            <br>
                            <button id="add-note" type="submit" class="btn btn-primary btn-md">Add note</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- View Notes -->
{{#each BookData}}
{{#if comments}}
<div class='p-5 text-center'>
    <h2>Here are your notes! 📝</h2>
</div>

{{#each comments}}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-7">
            <div class="card shadow" style="border-radius: 15px;">
                <div class="card-header">
                    <div style="width: 85%; float: left">
                        {{this.header}}
                    </div>
                    <div style="width: 15%; float: right">
                        {{this.date_created}}
                    </div>
                </div>
                <div class="p-5 text-center">
                    {{this.content}}
                </div>
                <div class="card-footer">
                    <p class="alias" style="float: left; margin:0 auto; width:50%; padding:8px;">
                        Author: <em>{{this.made_by_user}}</em>
                    </p>
                    <a id="delete-comment" class="btn btn-outline-danger" style="float: right" href="/delete-comment?book={{../this._id}}&comment={{this._id}}">
                        <img src="/public/img/delete.png" width="20" height="auto" alt="Delete">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{/if}}
{{/each}}