<script src="/public/js/bootstrap.js"></script>
<!-- HTML for the dashboard. This displays brief information about a user's books -->

<head>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>

    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
    <script src="/public/js/somecoolfunctions.js"></script>
</head>



<body onload="startTime(), randomMessage()">
    {{#each flash}}
    <div class="alert alert-success" style="text-align:center">
        <strong>{{this}}</strong>
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    </div>
    {{/each}}
    <div class="container">
        <div class="p-5 text-center">
            <h1 id="welcome_msg">
                <script src="/public/js/greetings.js"></script>
            </h1>
            <div id="clock"></div>
            <p></p>
            <em>
                <h3 id="random-msg"></h3>
            </em>
        </div>

        <!-- Tabs for displaying library or wishlist -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="library-tab" onclick="openTab(event, 'library')">📖Library</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="wishlist-tab" onclick="openTab(event, 'wishlist')">❤️Wishlist</button>
            </li>
        </ul>
        <script>
            function openTab(evt, tabName) {
                var navlinks = document.getElementsByClassName("nav-link");
                for (var i = 0; i < navlinks.length; i++) {
                    navlinks[i].className = navlinks[i].className.replace(" active", "");
                }
                var tabcontent = document.getElementsByClassName("tab-content");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                var tabmsg = document.getElementsByClassName("tab-msg");
                for (i = 0; i < tabmsg.length; i++) {
                    tabmsg[i].style.display = "none";
                }
                evt.currentTarget.className += " active";
                document.getElementById(tabName).style.display = "";
                document.getElementById(`msg-${tabName}`).style.display = "";
            }
        </script>
          
        <div class="card shadow">
            <div class="card-header p-3">
                <div class="container-sm">
                    {{#each UserData}}
                    <div class="tab-msg" id="msg-library" style="float:left; margin:0 auto; width:50%; padding:10px;">
                        📖 Here is your reading list <strong>{{this.username}}</strong>
                    </div>
                    <div class="tab-msg" id="msg-wishlist" style="float:left; margin:0 auto; width:50%; padding:10px; display:none">
                        ❤️ Here is your wishlist <strong>{{this.username}}</strong>
                    </div>
                    {{/each}}
                    <!-- Filter -->
                    <div id="filter" style="float:right; position:relative; z-index:100" class="w3-dropdown-click">
                        <button id="select-filter" class="w3-button" onclick="showFilter()">
                            <img src="/public/img/filter.png" width="25" height="auto" alt="Filter">
                            Filter By Genre
                            <i class="fa fa-caret-down"></i>
                        </button>
                        {{#if SelectedGenre}}
                        <script>
                            var text = " Filter: <b><em>{{{SelectedGenre}}}</em></b> ";
                            document.getElementById("select-filter").innerHTML = `<img src="/public/img/filter.png" width="25" height="auto" alt="Filter">${text}<i class="fa fa-caret-down"></i>`;
                        </script>
                        {{/if}}
                        <div id="filter-detail" style="height:200px;overflow:auto;width:200px" class="w3-dropdown-content w3-bar-block w3-border">
                            <a id="filter-all" href="/dashboard" class="w3-bar-item w3-button">All</a>
                            <a id="filter-fantasy" href="/filter?genre=Fantasy" class="w3-bar-item w3-button">Fantasy</a>
                            <a id="filter-sciencefiction" href="/filter?genre=Science Fiction" class="w3-bar-item w3-button">Science Fiction</a>
                            <a id="filter-actionadventure" href="/filter?genre=Action Adventure" class="w3-bar-item w3-button">Action Adventure</a>
                            <a id="filter-mystery" href="/filter?genre=Mystery" class="w3-bar-item w3-button">Mystery</a>
                            <a id="filter-horror" href="/filter?genre=Horror" class="w3-bar-item w3-button">Horror</a>
                            <a id="filter-historicalfiction" href="/filter?genre=Historical Fiction" class="w3-bar-item w3-button">Historical Fiction</a>
                            <a id="filter-romance" href="/filter?genre=Romance" class="w3-bar-item w3-button">Romance</a>
                            <a id="filter-contemporaryfiction" href="/filter?genre=Contemporary Fiction" class="w3-bar-item w3-button">Contemporary Fiction</a>
                            <a id="filter-youngadult" href="/filter?genre=Young Adult" class="w3-bar-item w3-button">Young Adult</a>
                            <a id="filter-childrens" href="/filter?genre=Children’s" class="w3-bar-item w3-button">Children’s</a>
                            <a id="filter-biography" href="/filter?genre=Biography" class="w3-bar-item w3-button">Biography</a>
                            <a id="filter-foodanddrink" href="/filter?genre=Food and Drink" class="w3-bar-item w3-button">Food and Drink</a>
                            <a id="filter-artandphotography" href="/filter?genre=Art and Photography" class="w3-bar-item w3-button">Art and Photography</a>
                            <a id="filter-selfhelp" href="/filter?genre=Self-help" class="w3-bar-item w3-button">Self-help</a>
                            <a id="filter-travel" href="/filter?genre=Travel" class="w3-bar-item w3-button">Travel</a>
                            <a id="filter-other" href="/filter?genre=Other" class="w3-bar-item w3-button">Other</a>
                        </div>
                        <script>
                            function showFilter() {
                                var detail = document.getElementById("filter-detail");
                                if (detail.className.indexOf("w3-show") == -1) { 
                                    detail.className += " w3-show";
                                } else {
                                    detail.className = detail.className.replace(" w3-show", "");
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
            <!-- The library tab-->
            <div class="tab-content card-body" id="library">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 d-flex align-items-stretch">
                            {{>addbookcard}}
                        </div>
                        {{#each UserData}}
                        {{#each book_array}}
                        <div class="book-card col-lg-6 mb-3 d-flex align-items-stretch">
                            <div class="card mb-3 shadow" style="max-width:540px;">
                                <div class='container'>
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <!-- Center image to card -->
                                            <div class="mb-3">
                                                <img src="/public/uploads/{{filename}}"
                                                    class="shadow img-fluid dashboard-image">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>{{title}}</strong></h5>
                                                <em>{{genre}}</em>
                                                <p><em>by {{author}}</em></p>
                                                <p class="card-text">{{description}}</p>
                                            </div>
                                            <a id="book-detail-library" href="/book?id={{_id}}" class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- The wishlist tab -->
            <div class="tab-content card-body" id="wishlist" style="display: none;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 d-flex align-items-stretch">
                            {{>addbookcard}}
                        </div>
                        {{#each UserData}}
                        {{#each wishlist_array}}
                        <div class="book-card col-lg-6 mb-3 d-flex align-items-stretch">
                            <div class="card mb-3 shadow" style="max-width:540px;">
                                <div class='container'>
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                            <!-- Center image to card -->
                                            <div class="mb-3">
                                                <img src="/public/uploads/{{filename}}"
                                                    class="shadow img-fluid dashboard-image">
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>{{title}}</strong></h5>
                                                <em>{{genre}}</em>
                                                <p><em>by {{author}}</em></p>
                                                <p class="card-text">{{description}}</p>
                                            </div>
                                            <a id="book-detail-wishlist" href="/book?id={{_id}}" class="stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>