<script src="/public/js/bootstrap.js"></script>

<head>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2e58876b6d.js"></script>

    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<head>
    <script>
        function startTime() {
            const today = new Date();
            let h = today.getHours();
            let m = today.getMinutes();
            m = checkTime(m);
            document.getElementById('clock').innerHTML = h + ":" + m;
            setTimeout(startTime, 1000);
        }

        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>
</head>

<body onload="startTime()">
    <div class="container">
        <div class="p-5 text-center">
            <h1 id="welcome_msg">
                <script src="/public/js/greetings.js"></script>
            </h1>
            <div id="clock"></div>
            <p></p>
        </div>
        <div class="card shadow">
            <div class="card-header p-3">
                {{#each UserData}}
                📖 Here is your reading list <strong>{{this.username}}</strong>
                {{/each}}
            </div>
            <div class="card-body">
                <!-- Display all the cards  -->
                <div class="cards">
                    {{>addbookcard}}
                    {{#each UserData}}
                    {{#each book_array}}
                    <div class="col">
                        <div class="card shadow" style="height: 35rem;">

                            <!-- To be fixed -->
                            <div class="center-cropped" style="background-image: url('/public/uploads/{{this.filename}}');">
                                <img class="card-img-top" src="/public/uploads/{{this.filename}}">
                            </div>
                            </script>

                            <div class="card-body">
                                <h5 class="card-title">{{title}}</h5>
                                <p class="card-text"><em>by {{author}}</em></p>
                                <p class="card-text">{{description}}</p>
                            </div>
                            <div class="card-footer" style="height: 3.5rem">
                                <p class="text-center">
                                    <a href="/book" class="btn btn-primary stretched-link">Check out <strong>
                                            {{title}}</strong></a>
                                </p>
                            </div>

                        </div>
                    </div>
                    {{/each}}
                    {{/each}}
                </div>

            </div>
        </div>


    </div>
</body>